  <% if @task.errors.any? %>
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <div class="container-fluid">
    <%= form_with(model: @task, local: true ) do |form| %>
      <div class="field">
    <%= form.label :tags %><br>
    <%= collection_check_boxes(:task, :label_ids, Label.all, :id, :name ) do |t|  %>
      <% t.label { t.check_box + t.text } %>
    <% end %> 
    </div>
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>
      <div class="form-group">
        <%= form.label :details %><br>
        <%= form.text_field :details %>
      </div>
      <div class="form-group">
      <%= form.label :deadline %><br>
      <%= form.datetime_field :deadline %>
      </div>
      <div class="form-group">
      <%= form.label :priority %><br>
      <%= form.select :priority, Task.priorities.keys.map {|k| [t("enums.task.priority.#{k}"), k]} %>
      </div>
      <div class="form-group">
      <%= form.label :status %><br>
      <%= form.select :status,["未着手","着手","完了"] %>
      </div>
      <%= form.submit class:'btn btn-default'%>
    <% end %>
  </div>
<br>
    <%= link_to "タスク一覧画面にもどる", tasks_path%>
