<h1>Task一覧</h1>
  <table>
    <tr >
      <td>タイトル</td>
      <td>詳細</td>
      <td>期限</td>
      <td>優先順位</td>
      <td>ステータス</td>
    </tr>
    <% @task.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.details %></td>
        <td><%= task.deadline.strftime("%Y年%m月%d日")  %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </table>

<%= link_to 'タスク登録', new_task_path %>
