<h1><%= t('.title') %></h1>
  <div class="form-group"><%= t('tasks.title') %></p>
    <p><%= @task.title %></p>
  </div>
  <div class="form-group">
    <p><%= t('tasks.details') %></p>
    <p><%= @task.details %></p>
  </div>
    <p><%= t('tasks.deadline') %></p>
    <p><%= @task.deadline.strftime("%Y年%m月%d日")  %></p>
  </div>
  <div class="form-group">
  <p><%= t('tasks.priority') %></p>
  <p><%= @task.priority %></p>
  </div>
  <div class="form-group">
  <p><%= t('tasks.status') %></p>
  <p><%= @task.status %></p>
  </div>

  <div class="form-group">
  <p><%= t('tasks.label') %></p>
  <% @task.labels.each do |label| %>
    <p class='label'><%= label.name %></p>
  <% end %>
  </div>

<%= link_to t('tasks.back'), tasks_path %>
