<h1><%= t('.title') %></h1>
  <p><%= t('tasks.title') %></p>
  <p><%= @task.title %></p>
  <p><%= t('tasks.details') %></p>
  <p><%= @task.details %></p>
  <p><%= t('tasks.deadline') %></p>
  <p><%= @task.deadline.strftime("%Y年%m月%d日")  %></p>
  <p><%= t('tasks.priority') %></p>
  <p><%= @task.priority %></p>
  <p><%= t('tasks.statas') %></p>
  <p><%= @task.status %></p>

<%= link_to t('tasks.back'), tasks_path %>
