<h1><%= t('.title') %></h1>
  <div class="form-group">
    <p><%= t('.name') %></p>
    <p><%= @user.name %></p>
  </div>
  <div class="form-group">
    <p><%= t('.email') %></p>
    <p><%= @user.email %></p>
  </div>

<%= link_to t('.back'), tasks_path %>
