<h1><%= "タイトル" %></h1>
  <div class="form-group">
    <p><%= '名前' %></p>
    <p><%= @user.name %></p>
  </div>
  <div class="form-group">
    <p><%= 'メール' %></p>
    <p><%= @user.email %></p>
  </div>
  <div class="form-group">
  <p><%= '管理画面の有無' %></p>
  <% if @user.admin%>
    <p>管理ユーザ</p>
  <% else %>
    <p>一般ユーザ</p>
  <% end %>
  
</div>

<%= link_to '戻る' , admin_users_path %>
